<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('fonts/sahel/sahel.css') }}" />
    <link rel="stylesheet" href="{{ asset('fonts/iconfont/material-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('jquery-ui.theme.min.css') }}" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('js/jquery.min.js') }}" ></script>
    <script src="{{ asset('jquery-ui.min.js') }}" ></script>
    <script src="{{ asset('js/popper.min.js') }}" ></script>
    <script src="{{ asset('js/SysLoadMsg.js') }}" ></script>
    <script src="{{ asset('js/jquery.mask.min.js') }}" ></script>
    <script src="{{ asset('js/jquery.alphanum.js') }}" ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}" ></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" ></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" sizes="32x32" href="{{ asset('favicon.ico') }}">

    <title>ناطق- {% block PageTitle %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="" style="direction: rtl">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">توسعه فناوری سرکش</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">محصولات</a>
                <a class="p-2 text-dark" href="#">فروشگاه</a>
                <a class="p-2 text-dark" href="#">پشتیبانی</a>
                <a class="p-2 text-dark" href="#">درباره ما</a>
                <a class="p-2 text-dark" href="#">تماس با ما</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">ورود / عضویت</a>
        </div>
        <div class="container">
        <main role="main" class="container">
            <div class="SystemModal"></div>
            <div class="container-fluid">
                {% block PageBody %}{% endblock %}
            </div>
            <footer class="pt-5 my-md-6 pt-md-6 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                        <small class="d-block mb-3 text-muted">تمامی حقوق معنوی مالکیت این وب‌سایت برای شرکت توسعه فناوری سرکش محفوظ است.</small>
                        <hr>
                        <small class="d-block mb-3 text-muted">© Copyright 2018 TFS LTD. All rights reserved.</small>

                    </div>
                    <div class="col-5 col-md">
                        <h5>همکاری با ما</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">فرصت های شغلی</a></li>
                            <li><a class="text-muted" href="#">شرایط استخدام</a></li>
                            <li><a class="text-muted" href="#">ارسال رزومه</a></li>
                        </ul>
                    </div>
                    <div class="col-5 col-md">
                        <h5>راهکارهای نرم‌افزاری</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">انبارداری</a></li>
                            <li><a class="text-muted" href="#">حسابداری</a></li>
                            <li><a class="text-muted" href="#">اتوماسیون اداری</a></li>
                            <li><a class="text-muted" href="#">سیستم یکپارچه مدیریت</a></li>
                        </ul>
                    </div>
                    <div class="col-5 col-md">
                        <h5>درباره ما</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">شرکای تجاری</a></li>
                            <li><a class="text-muted" href="#">نمایندگی‌های فروش</a></li>
                            <li><a class="text-muted" href="#">حریم خصوصی</a></li>
                            <li><a class="text-muted" href="#">قوانین ارائه خدمات</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </main><!-- /.container -->
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
